<section class="section">
  <div class="section__amount">
    <div>
      <p>Tip Amount</p>
      <sub>/ person</sub>
    </div>
    <p class="section__values" *ngIf="tipAmount">{{tipAmount | currency }}</p>
    <p class="section__values" *ngIf="!tipAmount">0.0</p>

  </div>

  <div class="section__amount">
    <div>
      <p>Total</p>
      <sub>/ person</sub>
    </div>
    <p class="section__values" *ngIf="total">{{total | currency }}</p>
    <p class="section__values" *ngIf="!total">0.0</p>
  </div>
  <button (click)="reset()" class="section__btn">Reset</button>
</section>
