<section class="section">
  <div class="section__bill">
    <h1>Bill</h1>
    <input
      min="0"
      class="section__inputs section__border"
      type="text"
      maxlength="6"
      placeholder="0.0"
      value="0"
      [formControl]="billInput"
    />
    <img class="section__img___dolar" src="/assets/images/icon-dollar.svg" alt="dollar" />
  </div>

  <h1>Select Tip %</h1>
  <div class="section__tips">
    <button [ngClass]="{'active-button': twoButton}" (click)="subjectPercentage.next(2)" class="section__btn">2%</button>
    <button [ngClass]="{'active-button': fiveButton}" (click)="subjectPercentage.next(5)" class="section__btn">5%</button>
    <button [ngClass]="{'active-button': tenButton}" (click)="subjectPercentage.next(10)" class="section__btn">10%</button>
    <button [ngClass]="{'active-button': feefteenButton}" (click)="subjectPercentage.next(15)" class="section__btn">15%</button>
    <button [ngClass]="{'active-button': twentyfiveButton}" (click)="subjectPercentage.next(25)" class="section__btn">25%</button>
    <input
      min="0"
      class="section__input___text section__border"
      type="number"
      name="tip"
      id="tip"
      placeholder="Custom"
      [formControl]="customInput"
    />
  </div>

  <div class="section__npeople">
    <h1>Number of people</h1>
    <input
      class="section__inputs section__border"
      type="text"
      maxlength="2"
      placeholder="1"
      value="1"
      [formControl]="numberOfPeopleInput"
    />
    <img class="section__img___person" src="/assets/images/icon-person.svg" alt="person" />
  </div>
</section>
