<section class="bill-container">
  <div class="bill">
    <h1>Bill</h1>
    <input
      min="0"
      class="inputs input-border"
      type="text"
      maxlength="6"
      placeholder="0.0"
      #bill
      (keyup)="subjectBill.next($event.target.value)"
      (click)="subjectBill.next($event.target.value)"
    />
    <img class="img-dollar" src="/assets/images/icon-dollar.svg" alt="dollar" />
  </div>



  <h1>Select Tip %</h1>
  <div class="tips">
    <button (click)="subjectPercentage.next(2)" class="btn-bill">2%</button>
    <button (click)="subjectPercentage.next(5)" class="btn-bill">5%</button>
    <button (click)="subjectPercentage.next(10)" class="btn-bill">10%</button>
    <button (click)="subjectPercentage.next(15)" class="btn-bill">15%</button>
    <button (click)="subjectPercentage.next(25)" class="btn-bill">25%</button>
    <input
      min="0"
      class="input-text input-border"
      type="number"
      name="tip"
      id="tip"
      placeholder="Custom"
      #percentage
      (keyup)="subjectCustom.next($event.target.value)"
      (click)="subjectCustom.next($event.target.value)"
    />
  </div>

  <div class="number-of-people">
    <h1>Number of people</h1>
    <input
      class="inputs input-border"
      type="text"
      maxlength="2"
      placeholder="1"
      #numberOfPeople
      (keyup)="subjectNumberOfPeople.next($event.target.value)"
      (click)="subjectNumberOfPeople.next($event.target.value)"
    />
    <img class="img-person" src="/assets/images/icon-person.svg" alt="person" />
  </div>
</section>
