h1 {
  color: #5e7a7d;
  font-family: "Space Mono", monospace;
  font-size: 14px;
}

.section > div, input {
  width: 100%;
  margin-bottom: 20px;
}

.section__bill {
  position: relative;
}

.section__npeople {
  position: relative;
}

.section__img___person {
  position: absolute;
  left: 1.5rem;
  top: 3rem;
}

.section__img___dolar {
  bottom: 2.1rem;
  left: 1.5rem;
  position: absolute;
}

.section__inputs {
  background-color: rgba(77, 147, 175, 0.1);
  border: none;
  border-radius: 5px;
  color: #00494d;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: end;
  padding: 6px;
  width: 100%;
}


.section__input___text {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color:rgba(77, 147, 175, 1);
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.1s;
  text-align: center;
  margin: 0px;
  padding: 0px;
  transition: 0.2s;
}


.section__border:focus {
  outline-style:solid;
  outline: 0.4;
  outline-color: #c5e4e7;
  border: 2px solid #26c0ab;

}

.section__tips {
  align-content: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.section__tips button {
   border: none;
   border-radius: 5px;
   background-color: #003F42;
   cursor: pointer;
   color: white;
   font-family: 'Space Mono', monospace;
   font-size: 1.2rem;
   font-weight: bold;
   transition: 0.4s;
   text-align: center;
   padding: 5px 2px;
}

.section__tips > button:focus {
  background-color: #26c0ab;
  color: #003F42;
}

.section__btn:hover {
  background-color: #26c0ab !important;
}

.section__btn--active {
  background-color: #26c0ab;
  color: #00494d;
}



